*{
    margin: 0;
    padding: 0;
}
html{
    -webkit-font-smoothing: antialiased;
}
body{
    background: #333;
}
button{
    cursor: pointer;
}
/* home */
/* home--header */
#home{
    position: relative;
    display: flex;
    background: radial-gradient(rgba(0, 0, 0, 0.511) 40%, rgba(0, 0, 0, 0.703), rgba(0, 0, 0, 0.67)), url('./assets/home--bg.jpg') center/cover;
    width: 100vw;
    height: 100vh;
}
header nav{
    display: flex;
}
.logo--header{
    position: absolute;
    top: 12px;
    left: 46px;
    width: 160px;
}
.language{
    position: absolute;
    right: 180px;
    top: 22px;
    background: transparent;
    border: 0.5px solid #fff;
    color: #fff;
    font: normal 400 16px/27px sans-serif;
    padding: 5px 12px 5px 12px;
}
.language option{
    background-color: #333;
    color: #fff;
}
.sign-in-btn{
    position: absolute;
    right: 80px;
    top: 18px;
    border: none;
    border-radius: 3px;
    background: #e50914;
    font: normal 400 16px/27px sans-serif;
    color: #fff;
    padding: 5px 17px 5px 17px;
}

.page--content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25%;
    text-align: center;
}
h1{
    color: #fff;
    font: normal 550 50px/55px sans-serif;
}
h3{
    color: #fff;
    font: normal 400 26px/36px sans-serif;
    padding: 20px;
}
h5{
    color: #fff;
    font: normal 300 20px/31px sans-serif;
    text-align: center;
}
.content-search{
    display: flex;
    gap: 0;
    width: 660px;
    margin-top: 10px;
}
.content-search input{
    width: 65%;
    padding: 20px;
    outline: none;
    border: none;
    font: normal 300 16px/20px sans-serif;
    color: #8c8c8c;
}

.content-search button{
    width: 35%;
    background: #e50914;
    color: #fff;
    font: normal 500 26px/35px sans-serif;
    text-align: center;
    border: none;
}
.content-search > button:hover{
    transition-duration: 200ms;
    background: #bb0a12;
}

/* section two */
.sect{
    position: relative;
    width: 100vw;
    height: 65vh;
    background: #000;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
    padding: 10px;
}
.sect img{
    width: 40%;
}
.sect-txt-content{
    width: 45%;
}
.sect-txt-content > h3{
    margin-left: -20px;
}
/* FAQ Section */
.faq--sect{
    flex-direction: column;
    height: fit-content;
}
.sub-sect-faq{
    padding: 50px 0 50px 0;
}
.faq--grid{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 40px 0 40px 0;
}
.faq--ques{
    background: #333;
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding: 15px 20px 15px 20px;
    width: 110%;
    margin-left: -50px;
    font: normal 400 26px/42px sans-serif;
    align-items: center;
}
.footnote{
    flex-direction: column;
    justify-content: flex-start;
    height: fit-content;
}
.footnote h5{
    padding: 10px;
}
.github--link{
    text-decoration: none;
    color: #8c8c8c;
}
.github--link:hover{
    font-style: italic;
}